.search {
    /* border: 1px solid green; */
    /* margin: 0 2em; */
    padding: 1em;
}
.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__groups {
    margin: 0.5em;
}

.search__controls {
    height: 30px;
}

.btn {
    border: none;
    border-radius: 1px;
    padding: 0.5em 0.8em;
    margin: 0.2em;
    background-color: rgb(81, 187, 81);
    color: var(--clr-white);
    font-size: 1rem;
    opacity: 0.7;
    transition: 0.2s;
}

.btn:hover, .btn:active {
    opacity: 1;
}