.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pagination > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}


.page-link {
    /* position: relative; */
    /* display: block; */
    padding: 0.4em 0.75em;
    margin-left: -1px;
    margin-block: 0.1em;
    line-height: 1.25;
    color: var(--clr-gray);
    background-color: var(--clr-white);
    border: 1px solid #c8d0d8;
    border-radius: 3px;
    opacity: 0.5;
    transition: 0.2s;
}

.page-link.active {
    /* background-color: blue; */
    opacity: 1;
}

.page-link:hover,
.page-link:focus {
    opacity: 1;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}