/* CSS Reset & Utility Classes */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-bg: #fffaf0;
  --clr-gray: #807c4e;
  --clr-black: #000000;
  --clr-light-yellow: #ffeeb6;
  --clr-yellow: #fbd549;
  --clr-green: #4cb41c;
  --clr-light-green: #cde7b7;

  --ff-playfair: 'Playfair Display', serif;
  --ff-waterfall: 'Waterfall', cursive;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--ff-waterfall);
  font-family: var(--ff-playfair);
  background-color: var(--clr-bg);
  color: var(--clr-black);
}

h1, h2, h3, h4 {
  margin: 0;
}

input, select, button, textarea {
  font-family: var(--ff-playfair);
}

.container {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  padding: 0 3em;
  font-size: 0.9rem;
  max-width: 1000px;
  color: var(--clr-black);
}

blockquote > footer {
  font-family: cursive;
  margin-top: 0.5em;
  color: var(--clr-gray);
  font-size: 1.1rem;
}



.error-msg,
.success-msg {
  text-align: center;
  color: var(--clr-bg);
  margin: 0.3em;
}

.no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--clr-gray);
  margin: 3em 2em;
  padding: 1em 0 4em;
  font-size: 0.7rem;
}
.i-no-result {
  width: 50%;
  height: auto;
  opacity: 0.9;
  max-width: 300px;
  filter: sepia(16%) saturate(200%) hue-rotate(180deg) brightness(99%) contrast(84%);
}

.no-result--big {
  font-size: 2.3rem;
}
.no-result--small {
  font-size: 1rem;
}



/* Media Queries */
/* 768px */
@media (max-width: 768px) {
  blockquote {
    padding: 0 1em;
  }
  p {
    font-size: 0.9rem;
  }
}


/* 520px */
@media (max-width: 520px) {
  .no-result--small {
    font-size: 0.8rem;
  }
}

/* 425px */